body {
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    width: 100%;
    height: 1350px;
    overflow: hidden;
    background-color: black;
}
.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 50px;
    perspective: 150px;
    perspective-origin: top;
    transform: rotateX(70deg);
    color: yellow;
    overflow: hidden;
}
.main-text {
    position: absolute;
    font-size: 50px;
    perspective: 0;
    transform: rotateX(45deg);
    letter-spacing: 20px;
    font-weight: bold;
}

@keyframes scroll {
    0% {
        position: absolute;
        top: 2000px;
        perspective: 300px;
    }
    100% {
        position: absolute;
        top: 0;
        perspective: 0;
        transform: translateZ(-1000px);

    }
}
.main-text {
    animation: scroll 30s linear infinite;
}